{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container px-4 py-5">
        <div class="item__header pb-2 border-bottom d-flex justify-content-between">
            <h3>Latest Items</h3>
            <a class="btn btn-primary" href="{{ path('app_items') }}">See all</a>
        </div>
        <div class="row g-5 py-3 row-cols-1 row-cols-lg-3">
            {% if not items %}
                <h5 class="fw-normal">No items yet</h4>
            {% else %}
                {% for item in items %}
                    <div class="Item col">
                    <h4 class="fs-4 text-body-emphasis title-ellipsis">{{ item.name }}</h4>
                    {# <p class="description-ellipsis">{{item.tags}}</p> #}
                    <a href="{{ path('app_item', {id: item.id}) }}" class="icon-link">
                    View
                    </a>
                </div>
                {% endfor %}
            {% endif %}



            {# <div class="Item col">
                <h3 class="fs-2 text-body-emphasis item-title-ellipsis">Item title Item titleItem titleItem titleItem titleItem titleItem title</h3>
                <p class="item-description-ellipsis">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words. Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words. </p>
                <a href="#" class="icon-link">
                View
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div> #}

        </div>

        <div class="collection__header mt-5 pb-2 border-bottom d-flex justify-content-between">
            <h3>Largest collections</h3>
            <a class="btn btn-primary" href="{{ path('app_collections') }}">See all</a>
        </div>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            {% if not collections %}
                <h5 class="fw-normal">No collections yet</h5>
            {% else %}
                {% for collection in collections %}
                    <div class="Collection col">
                    <h4 class="fs-4 text-body-emphasis title-ellipsis">{{ collection.name }}</h4>
                    <p class="description-ellipsis">{{collection.description}}</p>
                    <a href="{{ path('app_collection', {id: collection.id}) }}" class="icon-link">
                    View
                    </a>
                </div>
                {% endfor %}
            {% endif %}
            {# <div class="Item col">
                <h3 class="fs-2 text-body-emphasis item-title-ellipsis">Item title Item titleItem titleItem titleItem titleItem titleItem title</h3>
                <p class="item-description-ellipsis">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words. Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words. </p>
                <a href="#" class="icon-link">
                View
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div> #}

        </div>

        <div class="tags mt-5">
            <h3>Tag cloud</h3>
            {% if tags %}
            <ul class="tags__list">
                {% for tag in tags %}
                <li class="tags__item"><a href="{{ path('app_items_by_tag', {'tag': tag.name}) }}">{{ tag.name }}</a></li>
                {% endfor %}
            {% else %}
                <h5 class="fw-normal">No tags yet</h5>
            {% endif %}
            </ul>
        </div>

    </div>
{% endblock %}
