{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
<div class="container">
  <h2>{{ticket.fields.summary}}</h2>
  <p>Priority: {{ticket.fields.customfield_10038.value}}</p>
  <p>Status: {{ticket.fields.customfield_10036.value}}</p>
  <p>From: {{ticket.fields.customfield_10037}}</p>
  <p>Link: <a href="{{app.request.server.get('JIRA_URL_TICKET')}}{{ticket.key}}">Go to Jira</a></p>
  <p>Owner: {{ticket.fields.reporter.displayName}}</p>

</div>
{% endblock %}
