{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block body %}
<div class="container">
  <h2>{{collection.name}}</h2>
  <p>{{collection.description}}</p>
  <p>{{collection.category.name}}</p>
  {% if app.user.email == collection.owner.email %}
    <a class="btn btn-primary" href="{{ path('app_collection_update', {id: collection.id}) }}">Edit</a>
    <a class="btn btn-danger" href="{{ path('app_collection_delete', {id: collection.id}) }}">Delete</a>
  {% endif %}
</div>
{% endblock %}
