{% extends 'base.html.twig' %}

{% block title %}{{action|capitalize}} Collection{% endblock %}

{% block body %}
<div class="container mt-3">
  <h2 class="mb-4">{{action|capitalize}} Collection</h2>

  {{ form_start(form) }}
      {{ form_errors(form) }}

      {{ form_row(form.name) }}
      {{ form_row(form.description) }}
      {{ form_row(form.category) }}
      <label class="mt-2 mb-3"><strong>Custom Attributes</strong></label>
      <div class="custom-attributes-wrapper"
        data-index="{{ form.customItemAttributes|length > 0 ? form.customItemAttributes|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.customItemAttributes.vars.prototype)|e('html_attr') }}">
        {% for customItemAttribute in form.customItemAttributes %}
        <div class="item">
            {{form_row(customItemAttribute)}}
        </div>
        {% endfor %}
      </div>
      <button type="button" class="add_item_link btn btn-success d-block" data-collection-holder-class="customItemAttributes">Add an attribute</button>
      {{ form_rest(form) }}

      <button class="btn btn-primary mt-4" type="submit" formnovalidate>{{action|capitalize}}</button>

  {{ form_end(form) }}
</div>

<script>

document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll(".add_item_link").forEach((btn) => {
    btn.addEventListener("click", addFormToCollection);
  });

  document
    .querySelectorAll(".custom-attributes-wrapper .item")
    .forEach((row) => {
      addRemoveFormAttribute(row);
    });
});

function addFormToCollection(e) {
  const collectionHolder = document.querySelector(".custom-attributes-wrapper");

  const item = document.createElement("div");
  item.className = "item";

  item.innerHTML = collectionHolder.dataset.prototype.replace(
    /__name__/g,
    collectionHolder.dataset.index
  );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;

  addRemoveFormAttribute(item);
}

function addRemoveFormAttribute(item) {
  const removeFormButton = document.createElement("button");
  removeFormButton.className = "btn btn-danger mb-3";
  removeFormButton.innerText = "Delete an attribute";

  item.append(removeFormButton);

  removeFormButton.addEventListener("click", (e) => {
    e.preventDefault();
    item.remove();
  });
}


</script>
{% endblock %}