<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('app_home') }}" class="nav-link px-2">Home</a></li>
                <li><a href="{{ path('app_dashboard') }}" class="nav-link px-2">Dashboard</a></li>
            </ul>

            <div class="col-md-6 text-end d-flex justify-content-center align-items-center gap-2">
                <input type="search" id="search" class="form-control" placeholder="Search...">
                {% if app.user %}
                    <p style="width:400px;">Welcome, <strong>{{app.user.firstName}}</strong></p>
                    <a class="btn btn-primary"  href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a type="button" class="btn btn-outline-primary" href="{{ path('app_login') }}">Login</a>
                    <a type="button" class="btn btn-primary" style="width:190px;" href="{{ path('app_register') }}">Sign-up</a>
                {% endif %}

            </div>
            </header>
        </div>
    </header>
    <body>
        <div class="container flash-messages">
            {% for label, messages in app.flashes(['success', 'warning']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{label}}">{{message}}</div>
                    {% endfor %}
            {% endfor %}
        </div>
        <div class="search d-none">
            <div class="container">
                <div class="search-wrapper">

                    <ul class="item_list p-2">
                    </ul>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% if app.user %}
            <div class="modal" id="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ render(path('app_ticket_create')) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>

            <button type="button" class="ticket-btn btn btn-primary" data-bs-target="#modal" data-bs-toggle="modal">Ticket</button>
        {% endif %}



        <script>

            const getData = async (url) => {
                const req = await fetch(url, {
                method: 'GET',
                headers: {
                    "Content-Type": "application/json",
                    charset: "utf-8",
                },
                });

                const res = await req.json();

                return res;
            };
            let searchWrapper = document.querySelector('.search');
            let searchInput = document.getElementById('search');
            let itemList = document.querySelector('.item_list');
            searchInput.addEventListener('input', async (e) => {
                if (e.target.value.length === 0) {
                    searchWrapper.classList.add('d-none');
                } else {
                    searchWrapper.classList.remove('d-none');
                }

                itemList.innerHTML = null;
                let res = await getData("/search?" + new URLSearchParams({query: e.target.value}));
                for (let item of res) {
                    let li = document.createElement('li');
                    let a = document.createElement('a');
                    let p = document.createElement('p');
                    li.classList.add('item', 'border', 'p-3', 'mb-3');
                    a.classList.add('text-decoration-none');
                    if (item['entity'] == 'item') {
                        a.href="/item/" + item['id'];
                    } else if (item['entity'] == 'collection') {
                        a.href="/collection/" + item['id'];
                    }
                    p.innerText = item['name'];
                    li.appendChild(a);
                    a.appendChild(p);
                    itemList.appendChild(li);

                }
            })

            document.addEventListener('click', event => {
                if (!searchWrapper.classList.contains('d-none')) {
                    searchWrapper.classList.add('d-none');
                }
            });

        </script>
    </body>
</html>

