{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% set _currentPath = app.request.attributes.get('_route') %}
{% set _currentParams = app.request.query.all|merge(app.request.attributes.get('_route_params')) %}


{% block body %}
    <div class="container px-4">

        <h2 class="mb-4">{{app.user.firstName}}'s Dashboard</h2>
        <div class="item__header pb-2 border-bottom d-flex justify-content-between">
            <h3>Items</h3>
            <a class="btn btn-primary" href="{{ path('app_item_create') }}">New item</a>
        </div>
        <div class="row g-5 py-3 row-cols-1 row-cols-lg-3">
            {% if not items %}
                <h5>No items yet</h4>
            {% else %}
                {% for item in items %}
                    <div class="Item col">
                    <h4 class="fs-4 text-body-emphasis title-ellipsis">{{ item.name }}</h4>
                    <a href="{{ path('app_item', {id: item.id}) }}" class="icon-link">
                    View
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="collection__header mt-5 pb-2 border-bottom d-flex justify-content-between">
            <h3>Collections</h3>
            <a class="btn btn-primary" href="{{ path('app_collection_create') }}">New collection</a>
        </div>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3 mb-5">
            {% if not collections %}
                <h5>No collections yet</h5>
            {% else %}
                {% for collection in collections %}
                    <div class="Collection col">
                    <h4 class="fs-4 text-body-emphasis title-ellipsis">{{ collection.name }}</h4>
                    <p class="description-ellipsis">{{collection.description}}</p>
                    <a href="{{ path('app_collection', {id: collection.id}) }}" class="icon-link">
                    View
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="ticket__header mt-5 pb-2 border-bottom d-flex justify-content-between">
            <h3>Tickets</h3>
        </div>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3 mb-5">
            {% if not tickets %}
                <h5>No tickets yet</h5>
            {% else %}
                {% for ticket in tickets %}
                    <div class="ticket col">
                        <h4 class="fs-4 text-body-emphasis title-ellipsis">{{ ticket.summary }}</h4>
                        <p class="description-ellipsis">{{ticket.status}}</p>
                        <p class="description-ellipsis">{{ticket.priority}}</p>
                        <a href="{{ path('app_ticket', {id: ticket.id}) }}" class="icon-link">
                        View
                        </a>
                    </div>
                {% endfor %}

            {% endif %}
        </div>
        <nav class="d-flex justify-content-center mb-5">
                    <ul class="pagination">
                        {% for i in range(1, totalTicketPage) %}
                            <li class="page-item"><a class="page-link" href="{{path(_currentPath, _currentParams|merge({ticketPage: i}))}}">{{i}}</a></li>
                        {% endfor %}
                        {# <li class="page-item"><a class="page-link" href="#">Previous</a></li>

                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li> #}
                    </ul>
                </nav>

    </div>
{% endblock %}
