{% extends 'base.html.twig' %}

{% block title %}{{action|capitalize}} Item{% endblock %}

{% block body %}
<div class="container mt-3 mb-5">
  <h2 class="mb-4">{{action|capitalize}} Item</h2>

  {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.name) }}
      {{ form_row(form.tags) }}
      {{ form_row(form.itemCollection) }}
      {{ form_rest(form) }}


  <button class="btn btn-primary mt-4 very-bottom" type="submit" formnovalidate>{{action|capitalize}}</button>
  {{ form_end(form) }}

</div>
{% endblock %}