{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
<div class="container">
  <h2>{{item.name}}</h2>
  <p>Collection: {{item.itemCollection.name}}</p>
  {% for tag in item.tags %}
    <p>Tag: {{tag.name}}</p>
  {% endfor %}
  {% for attributes in item.itemAttributes %}
    <p>{{attributes.name}}: {{attributes.value}}</p>
  {% endfor %}
  <p>Owner: {{item.owner.firstName}} {{item.owner.lastName}}</p>
  <div class="comment-section mt-4">
      <h5>Comments</h5>
      {% if item.comments|length > 0 %}
        <div class="comment-wrapper">
          {% for comment in item.comments %}
            <div class="comment mb-4">
              <h6 class="fw-bold mb-1">{{ comment.user.firstName }} {{ comment.user.lastName}} </h6>
              <p class="small">{{ comment.comment }}</p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>No comments yet</p>
      {% endif %}

      {% if app.user %}
        {{ form_start(form) }}
          {{ form_errors(form) }}
          {{ form_row(form.comment) }}
          {{ form_rest(form) }}
          <button type="submit" class="btn btn-primary">Comment</button>
        {{ form_end(form) }}
      {% endif %}


  </div>
  {% if (app.user and app.user.email == item.owner.email) or is_granted('ROLE_ADMIN') %}
    <div class="actions mt-3">
      <a class="btn btn-primary" href="{{ path('app_item_update', {id: item.id}) }}">Edit</a>
      <a class="btn btn-danger" href="{{ path('app_item_delete', {id: item.id}) }}">Delete</a>
    </div>
  {% endif %}

</div>
<script>

    const eventSource = new EventSource("{{ mercure('/comments')|escape('js') }}");
    eventSource.onmessage = event => {
      let data = JSON.parse(event.data);

      let commentWrapper = document.querySelector('.comment-wrapper');
      let comment = document.createElement('div');
      comment.className = "comment mb-4"

      let author = document.createElement('h6');
      author.className = "fw-bold mb-1"
      author.textContent = data['author_first_name'] + ' ' + data['author_last_name'];
      comment.appendChild(author);

      let p = document.createElement('p');
      p.className = "small";
      p.textContent = data['comment']

      comment.appendChild(p);
      commentWrapper.appendChild(comment);
}

</script>
{% endblock %}
