{% extends 'base.html.twig' %}

{% block title %}{{action|capitalize}} Item{% endblock %}

{% block body %}
<div class="container mt-3 mb-5" style="position: relative">
  <h2 class="mb-4">{{action|capitalize}} Item</h2>

  {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.name) }}
      <label class="mt-2 mb-3"><strong>Tags</strong></label>
      <div class="tags"
        data-index="{{ form.tags|length > 0 ? form.tags|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
        {% for tag in form.tags %}
        <div class="item">
            {{form_row(tag)}}
        </div>
        {% endfor %}
      </div>

      <button type="button" class="add_item_link btn btn-success d-block mb-4" data-collection-holder-class="tags">Add a tag</button>

      {# {{form_row(form.tags)}} #}

      {{ form_row(form.itemCollection) }}
      {{ form_rest(form) }}


  <button class="btn btn-primary mt-4 very-bottom" type="submit" formnovalidate>{{action|capitalize}}</button>
  {{ form_end(form) }}

</div>
<script src="{{ asset('js/item-form-tags-helper.js') }}"></script>
<script src="{{ asset('js/item-update-form-attributes-helper.js') }}"></script>

{% endblock %}